<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="MySQLTables" targetRuntime="MyBatis3">
        <!--覆盖生成XML文件-->
        <plugin type="org.mybatis.generator.plugins.UnmergeableXmlMappersPlugin"/>
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/exam_online?useUnicode=true&amp;characterEncoding=utf8&amp;zeroDateTimeBehavior=convertToNull"
                        userId="root"
                        password="123456">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!-- 实体类-->
        <javaModelGenerator targetPackage="com.volcano.examonlineserv.bean" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!--Mapper 映射文件-->
        <sqlMapGenerator targetPackage="mapper" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--Dao 接口-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.volcano.examonlineserv.mapper"
                             targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>



        <table tableName="userinfo" domainObjectName="Userinfo"/>
<!--        <table tableName="questioninfo" domainObjectName="QuestionInfo"/>-->
<!--&lt;!&ndash;        <table tableName="subjectinfo" domainObjectName="SubjectInfo"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <table tableName="articleinfo" domainObjectName="ArticleInfo"/>&ndash;&gt;-->
<!--&lt;!&ndash;        <table tableName="comments" domainObjectName="Comments"/>&ndash;&gt;-->


    </context>
</generatorConfiguration>